<nav class="navbar navbar-toggleable-md navbar-inverse bg-danger">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="img/rikkei-white.png" height="50" class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav mr-auto">
            {% for code, lang in languages %}
                <li class="nav-item {% if code == language %}active{% endif %}">
                    <a class="nav-link" href="{{ code }}.html">{{ lang }}</a>
                </li>
            {% endfor %}
        </ul>
        <span class="navbar-text">Coding Rules</span>
    </div>
</nav>
