<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Coding Rules</title>

    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div id="app"></div>
    <script>
        window.data = {{ data|json_encode|raw }};
    </script>
    <script src="js/app.js"></script>
</body>
</html>
